/*================================================
    GLOBAL
================================================*/

body {
    text-align: center;
    /* content centered by default */
    font-family: 'Open Sans', sans-serif;
    /* default font */
    margin: 70px 0 0 0;
    /* because of bootstrap navbar hiding content */
    background-color: #ECEFF1;
}

a {
    color: #90A4AE;
}


/* To fix bootstrap's weird horizontal overflow */

.row {
    margin: 0;
}

strong {
    font-weight: bold;
}

small {
    font-size: 70%;
}


/* Animated links */

a {
    transition: all .5s;
}

p {
    margin: 0;
    font-size: 100%;
}


/* Making imgs responsive */

img {
    height: auto;
    width: 100%;
}


/* Resetting margin/padding */

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: inside;
}


/*================================================
    MAIN CONTENT
================================================*/

.parallax {
    height: 50vh;
}

.hdelimiter {
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 150px;
    background-color: #607D8B;
}


/* Navbar*/

#navbar {
    border: 0;
    border-radius: 0;
    font-size: 120%;
    margin: 0;
    padding: 10px 0;
    z-index: 1;
    color: #c4c4c4;
    font-weight: normal;
    background-color: #263238;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c4c4c4;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #c4c4c4;
}


/* Title overlay */

#banner {
    font-size: 5vmax;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* half its height */
    /*    color: #455A64;*/
    color: #263238;
    /*    text-shadow: 3px 3px 3px #37474F;*/
    background-color: rgba(176, 190, 197, 0.5);
}


/* Offsetting nav anchors */

#header-nav,
#about-nav,
#lawyers-nav,
#location-nav {
    content: " ";
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}


/* ABOUT
----------------------------*/

#intro {
    font-size: 150%;
    padding: 4vh 0;
}


/* LAWYERS
----------------------------*/

article {
    background-color: #ECEFF1;
}

article h2 {
    color: #777;
}

#lawyers {
    font-size: 150%;
    padding: 5vh 0 2vh 0;
}

#lawyers p {
    text-shadow: 3px 3px 3px #B0BEC5;
}

#lawyers p:last-child {
    margin: 1vh 0 2vh 0;
}

#lawyers img {
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    -ms-filter: grayscale(40%);
    -o-filter: grayscale(40%);
    border-radius: 100px;
    border: 4px #607D8B solid;
    height: 150px;
    transition: all .5s;
    width: 150px;
}

#lawyers img:hover {
    filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -webkit-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -moz-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -ms-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -o-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
}


/* LOCATION
----------------------------*/

#location {
    font-size: 120%;
}

#location-text p {
    margin: 2vh 0;
}

#gmap {
    height: 30vh;
}


/* MORE ABOUT LAWYER
----------------------------*/

.more {
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    padding: 5vh 0;
}

.more-picture {
    /*
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    */
    border-radius: 100%;
    margin: 10px 0 20px 0;
    max-width: 300px;
    border: 5px #607D8B solid;
}

.more-text {
    border-radius: 10px;
    padding: 3%;
    text-align: left;
    background-color: rgba(207, 216, 220, 0.5);
}

.more p {
    margin: 20px 0;
}


/* Skills */

.more-text ul {
    font-size: 120%;
}


/* Main data */

.more-text ul:last-child {
    border-radius: 10px;
    font-size: 120%;
    font-weight: bold;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.more-text ul:last-child li {
    list-style: none;
    background-color: rgba(207, 216, 220, 1);
}

.more-text > ul:last-child {
    background-color: rgba(207, 216, 220, 1);
}


/* FOOTER
----------------------------*/

footer {
    padding: 3vh 0;
    background-color: #263238;
    color: #ffffff;
}
