/*================================================
    GLOBAL
================================================*/

body {
    /* content centered by default */
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* makes it a default value for later on scalability with rem units */
    font-size: 100%;
    /* because of bootstrap navbar hiding content */
    margin-top: 70px;
    background-color: #ECEFF1;
}


/* Animated links */

a {
    color: #90A4AE;
    transition: all .5s;
    cursor: pointer;
}


/* To fix bootstrap's weird horizontal overflow */

.row {
    margin: 0;
}


/* Making imgs responsive */

img {
    /* height: auto; */
    width: 100%;
}


/* Resetting margin/padding */

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* Resetting list style */

li {
    list-style: none inside;
}


/*================================================
    MAIN CONTENT
================================================*/

.parallax {
    height: 50vh;
}

.title-underlined {
    padding: 10px;
}

.hdelimiter {
    display: block;
    height: 2px;
    margin: 15px auto;
    width: 150px;
    background-color: #607D8B;
}

article {
    padding: 50px 0;
    font-size: 1.7rem;
}

article h2 {
    color: #263238;
}

article p {
    margin-top: 40px 0;
}


/* Navbar */

#navbar {
    border: 0;
    border-radius: 0;
    font-size: 1.4rem;
    padding: 10px 0;
    color: #c4c4c4;
    background-color: #263238;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c4c4c4;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #c4c4c4;
}


/* Offsetting nav anchors */

.anchor {
    content: " ";
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}


/* INDEX
----------------------------*/

#banner {
    overflow: hidden;
    font-size: 6rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #263238;
    background-color: rgba(176, 190, 197, 0.5);
}


/* INTRO */

#intro p {
    text-align: left;
}


/* LAWYERS */

#lawyers {
    font-size: 150%;
}

#lawyers img {
    margin: 30px 0 5px 0;
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    -ms-filter: grayscale(40%);
    -o-filter: grayscale(40%);
    border-radius: 100px;
    border: 3px #607D8B solid;
    height: 150px;
    width: 150px;
    transition: all .5s;
}

#lawyers span {
    display: block;
    font-size: 2rem;
    text-shadow: 3px 3px 3px #B0BEC5;
    margin-top: 20px 0;
}

#lawyers img:hover {
    filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -webkit-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -moz-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -ms-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
    -o-filter: grayscale(0%) drop-shadow(0px 0px 5px #5a7481);
}


/* LOCATION */

#gmap {
    height: 300px;
}


/* SUBJECTS */

.subject {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(207, 216, 220, 0.5);
    border-radius: 5px;
}

.subject ul {
    margin: 20px 0;
}

.subject a:hover {
    text-decoration: none;
}

.subject-text {
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(207, 216, 220, 1);
}

.subject-text p {
    margin: 10px 0;
    text-align: justify;
}

.subject ul a {
    color: #263238;
}


/* FEES
----------------------------*/

#fees p {
    margin-top: 20px;
    text-align: justify;
}


/* MORE ABOUT LAWYER
----------------------------*/

#more {
    font-family: 'Montserrat', sans-serif;
}

#more-picture {
    border-radius: 100%;
    margin: 30px 0;
    max-width: 300px;
    border: 3px #607D8B solid;
}


/* Text below the picture */

#more-details {
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(207, 216, 220, 0.5);
}

#more-details p {
    text-align: left;
    margin-bottom: 20px;
}


/* Skills */

#more-skills {
    margin: 30px 0;
    font-size: 1.9rem;
}

#more-skills h3 {
    text-decoration: underline;
    padding: 20px 0;
    font-size: 2.5rem;
}

#more-contact {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: rgba(207, 216, 220, 1);
}


/* FOOTER
----------------------------*/

footer {
    font-size: 1.3rem;
    padding: 30px 0;
    background-color: #263238;
    color: #ffffff;
}

.footer-fixed {
    width: 100%;
    bottom: 0;
    position: fixed;
}