
# adds "www"
RewriteEngine On
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

# forbids file listing of directories
#IndexIgnore *
#Options -Indexes

# asks for authentication

# AuthName "Page d'administration"
# AuthType Basic
# AuthUserFile "/home/avocalliwz/www/update/.htpasswd"
# Require valid-user